.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    background-color: #f8f8f8; /* Цвет фона */
    padding: 10px 0; /* Отступы сверху и снизу */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Тень для блока */
    margin: 10px 0px 20px -10px;
}

.container a {
    width: 15%;
    flex-grow: 1; /* Позволяет ссылкам занимать одинаковое пространство */
    text-align: center; /* Центровка текста */
    padding: 10px;
    color: #111; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    font-weight: bold;
    position: relative; /* Позиционирование для псевдоэлемента */
}

.container a:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 65%; /* Высота разделительной полосы */
    background-color: #111; /* Цвет разделительной полосы */
}

.container a:hover {
    background-color: #eaeaea; /* Фон при наведении */
}
