{% extends "base.html" %}

{% block title %}О нас{% endblock %}

{% block css %}
<link rel="stylesheet" href="static/css/about.css">
{% endblock %}

{% block content %}

    <div class="full-background">
        <div id="center">
            <h2>KAIROS</h2>
            <h4>Только вы решаете, какая будет ваша мебель.</h4>
        </div>
    </div>
    <div class="content">
        <h3>Опыт</h3>
        <p>
            Наша компания занимается мягкой мебелью под заказ, а также есть готовые решения. У нас есть опыт 5 лет
            и за это время были выведены чёткие формулы конструкций, чтобы мебель была долговечной и комфортной.
        </p>
        
        <div id="info">
            <div id="contacts">
                <h3>Контакты</h3>
                <ul>
                    <li>Телефон: 8(4242) 23 65 47</li>
                    <li>E-mail: kairos-sakh@mail.ru</li>
                    <li>Telegram: @kairos_65</li>
                    <li>WhatsApp: 8(962) 183 45-56</li>
                </ul>
            </div>
        
            <div id="address">
                <h3>Адрес</h3>
                <ul>
                    <li>Наш цех: г.Южно-Сахалинск, ул. Мира, 1д</li>
                    <li>Шоурум: [Адрес]</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}