<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TEST</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://kit.fontawesome.com/2caf57c0de.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="sidebar" class="sidebar">
        <a href="#">
            <i class="fa-solid fa-house"></i>
            <span class="sidebar-text">Home</span>
        </a>
        <a href="#">
            <i class="fa-solid fa-user"></i>
            <span class="sidebar-text">About</span>
        </a>
        <a href="#">
            <i class="fa-solid fa-phone"></i>
            <span class="sidebar-text">Contact</span>
        </a>
    </div>

    <div id="main-content">
        <button class="togglebtn" onclick="toggleSidebar()"><i class="fa-solid fa-bars"></i></button>
        <h2>Welcome to the main content area</h2>
        <p>Click the button to toggle the sidebar.</p>
    </div>

    <script src="static/js/scripts.js"></script>
</body>

</html>
