<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
</head>
<body>
    <h2>Вход</h2>
    <form action="/login" method="post">
        <label for="username">Логин:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <div>
        <button type="submit">Войти</button>
        <a href="/register">Регистрация</a>
        </div>
        {% if error or success %}
        <p class="msg">{{error}}{{success}}</p>
        {% endif %}
    </form>
</body>
</html>
