{% extends "base.html" %}

{% block title %}Акции{% endblock %}

{% block css %}
<link rel="stylesheet" href="static/css/promo.css">
{% endblock %}
{% block js %}
<script src="static/js/promo.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <a href="#">Диваны</a>
    <a href="#">Столы</a>
    <a href="#">Кресла</a>
    <a href="#">Кровати</a>
    <a href="#">Мягкие панели</a>
</div>
<div class="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/static/img/promo1.png" alt="Promotion 1">
        </div>
        <div class="carousel-item">
            <img src="/static/img/promo2.png" alt="Promotion 2">
        </div>
        <div class="carousel-item">
            <img src="/static/img/promo3.png" alt="Promotion 3">
        </div>
    </div>
    <a class="carousel-control-prev" onclick="prevSlide()">&#10094;</a>
    <a class="carousel-control-next" onclick="nextSlide()">&#10095;</a>
</div>
{% endblock %}